<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Car Details</title>
</head>

<body>
  <%- include('../sections/header.ejs') %>
    <main>
      <div>
        <img src="/<%= car.imgSrc %>" alt="<%= car.brand %>" width="360" height="270">
        <div>
          <h1>
            <%= car.brand %>
          </h1>
          <ul>
            <li>Year: <%= car.year %>
            </li>
            <li>Number: <%= car.number %>
            </li>
          </ul>
        </div>
      </div>
    </main>
</body>

</html>