<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/form.css">
  <script src="/javascripts/RequestManager.js"></script>
  <script>
    function onFileInput(event) {
      RequestManager.handleFileSelect(event, '#imgPreview')
    }
  </script>
  <title>Car Editor</title>
</head>

<body>
  <%- include('../sections/header.ejs') %>
    <main>
      <form action="/cars/create<%= car?.id ? '/' + car.id : '' %>" enctype="multipart/form-data" method="post" class="form">
        <div class="form__item">
          <input type="text" placeholder="Brand" name="brand" value="<%= car ? car.brand : '' %>" class="form__input">
          <p class="form__error">
            <%= errors?.brand %>
          </p>
        </div>
        <div class="form__item">
          <input type="number" placeholder="Year" name="year" value="<%= car ? car.year : '' %>" class="form__input">
          <p class="form__error">
            <%= errors?.year %>
          </p>
        </div>
        <div class="form__item">
          <input type="text" placeholder="License plate" name="number" value="<%= car ? car.number : '' %>" class="form__input">
          <p class="form__error">
            <%= errors?.number %>
          </p>
        </div>
        <div class="form__item">
          <select name="owner" class="form__input">
            <% owners.forEach(owner=> { %>
              <option value="<%= owner._id %>">
                <%= owner.fullName %> - <%= owner.address %>
              </option>
              <% }) %>
          </select>
        </div>
        <div class="form__item">
          <label class="form__label">
            <span class="form__file-add">Car image (add file)</span>
            <input type="file" value="<%= car && car.imgSrc ? car.imgSrc : '/photo-not-available.jpg' %>" accept="image/*" name="imgSrc" onchange="onFileInput(event)" class="form__img-inp">
          </label>
          <img id="imgPreview" src="<%= car && car.imgSrc ? '/' + car.imgSrc : '/photo-not-available.jpg' %>" alt="Product Image Preview" width="64" class="form__img">
          <p class="form__error">
            <%= errors?.imgSrc %>
          </p>
        </div>
        <button type="submit" class="form__button">
          <%= car?.id ? 'Update' : 'Create' %>
        </button>
      </form>
    </main>
</body>

</html>